/************************
GENERAL
************************/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 600px) {
article > img {
display: block;
float: left;
}
}

body {
font-family:"Helvetica";
line-height: 1.6em;
}

/************************
HEADER
************************/

.container {
margin: 0 auto;
padding-left: 30px;
padding-right: 30px;
width: 960px;
}

header {
text-align: center;
background-color: #3498db;
color: white;
}

header, h1 {
padding-top: 2px;
}

header > h2 {
padding: 10px;
background-color: #2980b9;
margin-left: 0;
margin-right: 0;
}

/************************
ARTICLES
************************/


article {
float:right;
width: 60%;
margin: 0 1.5%;
padding: 20px;
margin-bottom: 40px;
}

.align-left {
  float:left;
  width: 30%;
  height:225px;
  margin: 0 1.5%;
}

.align-center {
  display:block;
  margin: 50px auto;
  padding-top: 50px;
}



 .center-text {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 20px;
  display: block;
 }

/************************
CLEARING
************************/

ul {
  clear: both;
}

#links {
  clear:both;
  margin-top: 20px;
}

#bring-down {
  position: relative;
  top: 50px;
}


/************************
FOOTER
************************/
